torch 
torchvision 

ultralytics
insightface 
open-clip-torch
onnxruntime-gpu
transformers 

huggingface_hub
safetensors
timm


opencv-python-headless 
Pillow 

numpy 
pandas 
pyarrow 

pydantic 
pydantic-settings 
PyYAML

loguru
rich 
typer 
tqdm 

supervision 
matplotlib
seaborn

ipykernel 
ipywidgets
notebook

mypy
pytest
ruff 

mlflow 
dvc

fastapi
uvicorn[standard]

streamlit