torch 
torchvision 

scikit-learn

ultralytics
insightface 
onnxruntime-gpu
transformers 

huggingface_hub
safetensors
timm==0.8.13.dev0

opencv-python-headless 
Pillow 

numpy 
pandas 
pyarrow 

pydantic 
pydantic-settings 
PyYAML

loguru
rich 
typer 
tqdm 

supervision 
matplotlib
seaborn

ipykernel 
ipywidgets
notebook

mypy
pytest
ruff 

fastapi
uvicorn[standard]

streamlit